<div class="center">
  <div class="main">

    <div class="col-main">
      <div class="page-title">
        <h1>Forgot Your Password?</h1>
      </div>
      <form method="post" id="form-validate">
        <div class="fieldset" style="width: 800px;margin:0 auto;">
          <h2 class="legend">Retrieve your password here</h2>
          <p>Please enter your email below and we will send you a new password.</p>
          <br>
          <ul class="form-list">
            <li>
              <label for="email_address" class="required"><em class="c-w">*</em>Email Address</label>
              <div class="input-box">
                <input style="width:210px;" type="text" name="email" alt="email" id="email_address" class="input-text required-entry validate-email mgt10 mgb10"
                  value="">
              </div>
            </li>
          </ul>
        </div>
        <div class="buttons-set" style="width: 800px;margin:0 auto;">
          <button type="submit" title="Submit" class="button fgt-sub-btn"><span><span>Submit</span></span></button>
          <!-- <p class="required">* Required Fields</p> -->
          <p class="back-link"><a routerLink='/login'><small>« </small>Back to Login</a></p>
        </div>
      </form>

    </div>
  </div>
</div>