.center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    .page-title h1,{
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        font-weight: bold;
        padding: 40px 0;
        color: #ff6349;
    }
    .fieldset {
        border: 1px #e4e4e4 solid;
        background: #fbfaf6;
        padding: 22px 25px 12px 33px;
        margin: 28px 0;
    }
    .fieldset .legend {
        float: left;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid #ddd;
        background: #f7f7f7;
        color: #006699;
        margin: -33px 0 0 -10px;
        padding: 0 8px;
        position: relative;
    }
    
    
    button {
        height: 28px;
        padding: 0 15px;
        color: #ddd;
        border: 0px;
        border-radius: 2px;
        background-color: #336699;
        cursor: pointer;
        color: #fff;
        margin: 5px 0;
        font-family: "open sans",Arial,Geneva, sans-serif;
    }
    .fgt-sub-btn {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}