<div>
  <div class="module">
    <div class="h30 lh30 tac c-t fwb f14 mgt10">Stay Connected</div>
    <div class="c-t fwb f14 tac mgt5">
      <a href="https://www.youtube.com/user/etradesupply" title="youtube" target="_blank"><span class="icons share-yt ibm h30 lh30"></span></a>
      <a href="http://www.facebook.com/ETradeSupply" title="facebook" target="_blank"><span class="icons share-fb ibm h30 lh30"></span></a>
      <a href="https://www.twitter.com/ETradeSupply" title="twitter" target="_blank"><span class="icons share-tw ibm h30 lh30"></span></a>
      <a href="https://www.linkedin.com/company/etrade-supply-international-limited?trk=biz-companies-cym" title="linkedin" target="_blank"><span class="icons share-link ibm h30 lh30"></span></a>
      <a href="https://plus.google.com/b/109265260319665395531/109265260319665395531/posts" title="google+" target="_blank"><span class="icons share-google ibm h30 lh30"></span></a>
    </div>
  </div>
  <div class="module">
    <nz-spin [nzSpinning]='isLoading'>
      <form method="post" id="newsletter-validate-detail">
        <div class="pdl20 pdt15">
          <p class="lh30 f14 c-t fwb">
            <input class="ibm" name="newsletter_type[]" value="1" id="new-product" type="checkbox"><label for="new-product"
              class="ibm pdr10 pdl10 cor">New Products</label>
          </p>
          <p class="lh30 f14 c-t fwb">
            <input class="ibm" name="newsletter_type[]" value="2" id="arrival-notice" type="checkbox"><label style="max-width: 155px;"
              for="arrival-notice" class="ibm pdr10 pdl10 cor">Restock Notice</label>
          </p>
          <p class="lh30 f14 c-t fwb">
            <input class="ibm" name="newsletter_type[]" value="3" id="cut-price" type="checkbox"><label for="cut-price" class="ibm pdr10 pdl10 cor">Discounts</label>
          </p>
          <p style='padding:5px 0;'>
            <input style="width:170px" placeholder="Enter your email" class="email" type="email" title="Sign up for our newsletter" name="email"
              id="newsletter">
          </p>
          <button (click)='_submitForm()' class="button" title="Subscribe" type="reset"><span class="joinnow">Subscribe</span></button>
        </div>
      </form>
    </nz-spin>
  </div>
</div>