<div class="center">
  <nz-spin [nzSpinning]='isSpinning'>
    <div class="main-container col1-layout">
      <div class="main">

        <div class="url width1024 h60 cbg">
          <ul>
            <li class="icon"></li>
            <li class="home prae">
              <a class="pdr8 pdl8" routerLink='/home' title="Home">Home</a>
              <font>»</font>
            </li>
            <li class="category170 prae">
              <a class="pdr8 pdl8" title="Apple" (click)='goAllModel(firstLvl.id)'>{{firstLvl?.cate_name}}</a>
              <font>»</font>
            </li>
            <li class="category174 prae">
              <a class="pdr8 pdl8" title="iPhone" (click)='goModel(secondLvl.id)'>{{secondLvl?.cate_name}}</a>
              <font>»</font>
            </li>
            <li class="current prae">
              <div class="last-nav cor">
                <strong class="pdr8 pdl8" (click)=' goGoodsList(lastLvl.id)'>{{lastLvl?.cate_name}}</strong>
                <div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="">
          <div class="product-warpper-left">
            <div class="product-image-zoom tac">
              <div id="wrap" style="top:0px;position:relative;" (mouseenter)='mouseIn= true' (mouseleave)="mouseIn= false" (mousemove)='mouseMove($event)'>
                <a class="cloud-zoom" id="cloudZoom" style="position: relative; display: block;width: 400px;height: 400px;">
                <img (load)='load()'  [src]="zoomedImageSrc"  > 
                <span *ngIf='mouseIn' class="little" [style.top.px]='mouseY'  [style.left.px]='mouseX'>

                </span>
                <span *ngIf='mouseIn' class="big">
                  <img [src]="zoomedImageSrc" alt="" [style.top.px]='-mouseY*4/3'  [style.left.px]='-mouseX*4/3' >
                </span>
              </a>
              </div>
            </div>

            <div class="more-views">
              <span [class.disabledClick]='dj == 0' id="more_left" class="m_l left_img" (click)='moveLeft(1)'></span>
              <div class="omit">
                <ul id='imgList'>
                  <li *ngFor='let item of goodsInfo?.gallery;let i = index' (click)='changeImgIndex(i)'>
                    <a id="id-236596" class="cloud-zoom-gallery" title="goodsInfo.goods_info.goods_name">
                  <img [style.borderColor]='imgIndex==i?"red":"#CCCCCC"' [defaultImage]="defaultImg" [lazyLoad]="item.url"  width="56" height="56" alt="" title="">
                </a>
                  </li>

                </ul>
              </div>
              <span [class.disabledClick]='dj <= 6-goodsInfo?.gallery.length' id="more_right" class="m_r right_img" (click)='moveLeft(-1)'></span></div>
            <ul class="oh pdt15 pdb15 clear">
              <li class="ibm pdl15">
                <a href="javascript:vrsn_splash()" tabindex="-1"><img name="seal" border="true" src="https://seal.websecurity.norton.com/getseal?at=0&amp;sealid=2&amp;dn=www.etradesupply.com&amp;lang=en" oncontextmenu="return false;" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security"></a>                </li>
              <li class="ibm pdl10 pdr10"><img src="/assets/image/prodcut-warranty-new.jpg"></li>
              <li class="ibm"><img src="/assets/image/risk-free-trial.jpg"></li>
            </ul>



          </div>
          <div class="product-warpper-right">
            <div class="page_mark" id="mark_info" alt="Product Overview"></div>
            <ul>
              <li class="att_title">
                {{goodsInfo?.goods_info.goods_name}}
                <div id="product-more-info" class="product-m-i">
                  <div id="text-info-id" class="text-info" style="display: none;">Complete original parts. <a href="https://www.etradesupply.com/knowledge-base/cat/faq/post/quality/">Read more&gt;&gt;</a></div>
                </div>
              </li>
              <li style="display:none;">
                <span class="double-check">
                <a id="mark-compatibilty">Check Model Compatibility.</a>
              </span>
              </li>
              <li class="pdt15">

              </li>
              <li class="pdt10">
                <div class="f13 ibm">
                  <div class="ratings">
                    <div class="rating-box">
                      <div class="rating" style="width:100%">
                        <nz-rate [ngModel]="4.5" nzAllowHalf></nz-rate>
                      </div>
                    </div>
                    <p class="rating-links rateing-links-new">
                      <a class="mark-review-link" href="javascript:void(0);">1 Review(s)</a>
                    </p>
                  </div>
                </div>
                <div class="ratings-line"></div>
                <div class="ibm reparitools">
                  <a target="_blank" class="c-p tdl">Repair Tools &gt;&gt;</a>
                </div>
              </li>
              <li class="pdt15">
                <div class="c333 fwb f13">
                  <span style="padding-right:53px;">
                  SKU:
                  </span>{{showGoods?.sku}}</div>
              </li>

              <li class="currency cbrt1 prae ov mgt15 pdb20 pdt20 cbrb1">
                <ul class="oh">

                  <li class="inyuhover">

                    <div class="usd_pice">
                      <a>
                      <span class="national-new">USD</span>
                    </a>
                    </div>

                  </li>
                  <li class="promotion-us">

                    <div class="promotion-us-box">
                      <div class="price-box" rel="nofollow">
                        <span class="regular-price" id="product-price-28416">
                          <span class="price">$ {{showGoods?.price}}</span>
                        </span>
                        &nbsp;&nbsp;&nbsp;
                        <span style='text-decoration: line-through'>$ {{showGoods?.costprice}}</span>
                      </div>
                    </div>
                  </li>
                  <li class="no-tierprice">
                    <p class="et-tips2">
                      <span>Any question BEFORE you make purchase?</span>
                      <a class="link-btn" title="Large quantity inquiry">Ask Now!</a>
                    </p>
                  </li>
                </ul>
              </li>

              <!-- <li class="product-charge-box promotion-us">
              <table class="product-charge-table" cellpadding="0" cellspacing="0" background="#ffffff">
                <tbody>
                  <tr>
                    <td class="frist" width="20%;">Qty</td>
                    <td width="20%;">1</td>
                    <td width="20%;">2~9</td>
                    <td width="20%;">10~49</td>
                    <td width="20%;">50+</td>
                  </tr>
                  <tr>
                    <td class="frist">Price (USD) </td>
                    <td width="20%;"><span class="price">$93.41</span></td>
                    <td width="20%;"><span class="price">$90.78</span></td>
                    <td width="20%;"><span class="price">$89.00</span></td>
                    <td width="20%;"><span class="price">$87.37</span></td>
                  </tr>
                </tbody>
              </table>
            </li> -->

              <li class="ship_to">
                <div class="ship_left" style="width:600px;float:left;">
                  <div class="ets-product-sale-box">
                    <div class="l pdr30 lh28">Ships to:</div>
                    <div class="l" id="ship-country-select">
                      <select name="ship_to_country" id="ship_to_country" class="validate-select required" title="Country">
                        <option selected value="AS">American Samoa</option>
                    </select>
                    </div>
                  </div>
                  <div class="ets-product-sale-box buy-city">
                    <div class="l" style="padding-right:12px;line-height:35px;">Ships from:</div>
                    <div class="l">
                      <a class="shipping-from selected" data="hk">
                      <span class="shipping-hk">CN</span>
                    </a>
                    </div>
                  </div>
                  <div class="ets-product-sale-box">
                    <div class="l" style="padding-right:25px;">Shipping:</div>
                    <div class="l" style="height:38px;">
                      Orders from HK warehouse will be received within 5-7 business days<br> except remote area. </div>
                  </div>
                </div>
                <div class="ship_right" style="width:150px;float:right;padding-top:32px;">
                  <span class="check-us-storage">
                    <a style="padding-right:0px;" class="warehouse-desc"  title="warehouse stock">
                       <img id="us-storage-entrance" src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/us-storage-page.gif">
                    </a>
                </span>
                </div>
              </li>

              <li class="bottom-ds" style="clear:both;">
                <div class="buy-options fix" *ngIf='goodsInfo?.standard_list.length>0'>
                  <h5>Options:</h5>
                  <div class="buy-options-box l">
                    <a (click)='changeGoodsIndex(i)' *ngFor='let item of goodsInfo.goods_list;let i =index' [class.isSalable]="goodsIndex != i"
                      [class.selected]="goodsIndex == i">{{item.standard_value1}}{{item.standard_value2}}{{item.standard_value3}}{{item.standard_value4}}{{item.standard_value5}}</a>


                  </div>
                </div>

              </li>
              <li class="add-to-cart fix" style="margin-top:15px;">
                <ul class="l cbgf7 br1 pdl15 pdr15" style="width:738px;">
                  <li class="qty ibm lh50 h50"><span>Qty:</span></li>

                  <li class="add_buy  ibm h50 ov">
                    <nz-input-number style='margin-top:12px; ' (ngModelChange)="goodsTotalPrice = goodsCount*showGoods?.price" [(ngModel)]="goodsCount"
                      [nzSize]="'small'" [nzMin]="1" [nzStep]="1"></nz-input-number>
                    <div class="prae cart-btn-lists">
                      <button (click)='addToCart()' type="button" title="add to cart" id="add-cart" class="buy-cart cfff cor mg0 fwb ibm">{{  "AddtoCart" | translate}}</button>
                      <a (click)='addToWishList()' class="add-to-wish ibm" title="Add to wish list">add to wish list</a>

                    </div>
                  </li>
                  <li class="ibm lh50 h50">
                    <div class="totalhidden">

                      <span class="total_price">Total Price:</span>
                      <!--<span id="totalshow">$93.41</span>-->
                      <span id="totalshow">$ {{ goodsCount*showGoods?.price | number:'1.2-2'}}</span>

                    </div>
                  </li>
                </ul>

              </li>
              <li class="pdt10 pdb10">
                <a id="estimate-shipping-id" routerLink='/cart/cart' class="c-p tdl">Go to the shopping Cart &gt;&gt;<span class="calculate-shipping-icon"></span></a>
                <div class="addthis_native_toolbox r">
                  <!-- Go to www.addthis.com/dashboard to generate a new set of buttons -->
                  <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/facebook.png" border="0" title="Facebook" alt="Facebook"></a>
                  <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/twitter.png" border="0" title="Twitter" alt="Twitter"></a>
                  <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/google_plusone_share.png" border="0" title="Google+" alt="Google+"></a>
                  <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/linkedin.png" border="0" title="LinkedIn" alt="LinkedIn"></a>
                  <!-- Go to www.addthis.com/dashboard to customize your tools -->
                  <div class="addthis_sharing_toolbox" style="display: inline-block;"></div>

                </div>
              </li>
            </ul>
          </div>

          <div class="clear"></div>
        </div>

      </div>
    </div>
  </nz-spin>
</div>