<div class="center">
    <nz-spin [nzSpinning]='isSpinning'>
  <div class="main-container col1-layout">
    <div class="main">

      <div class="url width1024 h60 cbg">
        <ul>
          <li class="icon"></li>
          <li class="home prae">
            <a class="pdr8 pdl8" routerLink='/home' title="Home">Home</a>
            <font>»</font>
          </li>
          <li class="category3453 prae">
            <a class="pdr8 pdl8" title="Ships from the USA">Ships from the USA</a>
            <font>»</font>
          </li>
        </ul>
      </div>
      <div class="">
        <div class="product-warpper-left">
          <div class="product-image-zoom tac">
            <div id="wrap" style="top:0px;position:relative;">
              <a class="cloud-zoom" id="cloudZoom" style="position: relative; display: block;">
                <img [imageZoom]="zoomedImageSrc" [src]="smallImageSrc" [style.width.px]="398" [style.height.px]="398" [lensWidth]='398' [lensHeight]='398'  [lensBorder]='1' [delay]='0'> 
              </a>
            </div>
          </div>

          <div class="more-views"><span id="more_left" class="m_l left_img"></span>
            <ul class="omit">
              <li>
                <a id="id-236596" class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)">
                  <img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_0__1.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)">
                </a>
              </li>
              <li><a id="id-236597" class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_1__1.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-236598" rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/236598/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_2__1.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_2__1.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-236599" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_3__1.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/236599/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_3__1.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_3__1.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-236600" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_4__1.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/236600/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_4__1.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_4__1.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-236601" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_5__1.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/236601/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_5__1.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_5__1.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-236602" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_6__1.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/236602/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_6__1.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_6__1.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-234519" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_6_.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/234519/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_6_.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_6_.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-234520" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_0_.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/234520/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_0_.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_0_.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-234521" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_3_.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/234521/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_3_.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_3_.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-234522" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_1_.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/234522/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_1_.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_1_.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-234523" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_2_.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/234523/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_2_.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_2_.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-234524" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_4_.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/234524/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_4_.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_4_.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
              <li><a id="id-234525" href="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_5_.jpg"
                  rel="popupWin:'https://www.etradesupply.com/catalog/product/gallery/id/28416/image/234525/', useZoom: 'cloudZoom', smallImage: 'https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/345x345/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_5_.jpg'"
                  class="cloud-zoom-gallery" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"><img src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/thumbnail/56x/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_7_LCD_Screen_and_Digitizer_Assembly_with_Frame_Replacement_-_Black_-_Grade_S_5_.jpg" width="56" height="56" alt="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)" title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+ (0)"></a></li>
            </ul><span id="more_right" class="m_r right_img"></span></div>
          <ul class="oh pdt15 pdb15 clear">

            <li class="ibm pdl15">
              <a href="javascript:vrsn_splash()" tabindex="-1"><img name="seal" border="true" src="https://seal.websecurity.norton.com/getseal?at=0&amp;sealid=2&amp;dn=www.etradesupply.com&amp;lang=en" oncontextmenu="return false;" alt="Click to Verify - This site has chosen an SSL Certificate to improve Web site security"></a>              </li>
            <li class="ibm pdl10 pdr10"><img src="/assets/image/prodcut-warranty-new.jpg"></li>
            <li class="ibm"><img src="/assets/image/risk-free-trial.jpg"></li>
          </ul>



        </div>
        <div class="product-warpper-right">
          <div class="page_mark" id="mark_info" alt="Product Overview"></div>
          <ul>
            <li class="att_title">
              For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - Black - Grade S+
              <div id="product-more-info" class="product-m-i">
                <div id="text-info-id" class="text-info" style="display: none;">Complete original parts. <a href="https://www.etradesupply.com/knowledge-base/cat/faq/post/quality/">Read more&gt;&gt;</a></div>
              </div>
            </li>
            <li style="display:none;">
              <span class="double-check">
                <a id="mark-compatibilty">Check Model Compatibility.</a>
              </span>
            </li>
            <li class="pdt15">
              <div class="f13"><span class="c-w">Compatible With: Apple iPhone 7</span></div>
            </li>
            <li class="pdt10">
              <div class="f13 ibm">
                <div class="ratings">
                  <div class="rating-box">
                    <div class="rating" style="width:100%"></div>
                  </div>
                  <p class="rating-links rateing-links-new">
                    <a class="mark-review-link" href="javascript:void(0);">1 Review(s)</a>
                  </p>
                </div>
              </div>
              <div class="ratings-line"></div>
              <div class="ibm reparitools">
                <a target="_blank" class="c-p tdl">Repair Tools &gt;&gt;</a>
              </div>
            </li>
            <li class="pdt15">
              <div class="c333 fwb f13">
                <span style="padding-right:53px;">
                  SKU:
                  </span>ESAPP1609210003-23</div>
            </li>

            <li class="currency cbrt1 prae ov mgt15 pdb20 pdt20 cbrb1">
              <ul class="oh">

                <li class="inyuhover">

                  <div class="usd_pice">
                    <a>
                      <span class="national-new">USD</span>
                    </a>
                  </div>

                </li>
                <li class="promotion-us" >

                  <div class="promotion-us-box">
                    <div class="price-box" rel="nofollow">
                      <span class="regular-price" id="product-price-28416">
                      <span class="price">$93.41</span> </span>
                    </div>
                  </div>
                </li>
                <li class="no-tierprice">
                  <p class="et-tips2">
                    <span>Any question BEFORE you make purchase?</span>
                    <a class="link-btn" title="Large quantity inquiry">Ask Now!</a>
                  </p>
                </li>
              </ul>
            </li>

            <!-- <li class="product-charge-box promotion-us">
              <table class="product-charge-table" cellpadding="0" cellspacing="0" background="#ffffff">
                <tbody>
                  <tr>
                    <td class="frist" width="20%;">Qty</td>
                    <td width="20%;">1</td>
                    <td width="20%;">2~9</td>
                    <td width="20%;">10~49</td>
                    <td width="20%;">50+</td>
                  </tr>
                  <tr>
                    <td class="frist">Price (USD) </td>
                    <td width="20%;"><span class="price">$93.41</span></td>
                    <td width="20%;"><span class="price">$90.78</span></td>
                    <td width="20%;"><span class="price">$89.00</span></td>
                    <td width="20%;"><span class="price">$87.37</span></td>
                  </tr>
                </tbody>
              </table>
            </li> -->

            <li class="ship_to">
              <div class="ship_left" style="width:600px;float:left;">
                <div class="ets-product-sale-box">
                  <div class="l pdr30 lh28">Ships to:</div>
                  <div class="l" id="ship-country-select">
                    <select name="ship_to_country" id="ship_to_country" class="validate-select required" title="Country">
                        <option selected value="AS">American Samoa</option>
                    </select>
                  </div>
                </div>
                <div class="ets-product-sale-box buy-city">
                  <div class="l" style="padding-right:12px;line-height:35px;">Ships from:</div>
                  <div class="l">
                    <a class="shipping-from selected" data="hk">
                      <span class="shipping-hk">HK</span>
                    </a>
                  </div>
                </div>
                <div class="ets-product-sale-box">
                  <div class="l" style="padding-right:25px;">Shipping:</div>
                  <div class="l" style="height:38px;">
                    Orders from HK warehouse will be received within 5-7 business days<br> except remote area. </div>
                </div>
              </div>
              <div class="ship_right" style="width:150px;float:right;padding-top:32px;">
                <span class="check-us-storage">
                    <a style="padding-right:0px;" class="warehouse-desc"  title="warehouse stock">
                       <img id="us-storage-entrance" src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/us-storage-page.gif">
                    </a>
                </span>
              </div>
            </li>

            <li class="bottom-ds" style="clear:both;">
              <div class="buy-options fix">
                <h5>Options:</h5>
                <div class="buy-options-box l">
                  <a class="selected" href="javascript:void(0);">Black</a>
                  <a title="For Apple iPhone 7 LCD Screen and Digitizer Assembly with Frame Replacement - White - Grade S+" class="is_salable">White</a>                  </div>
              </div>

            </li>
            <li class="add-to-cart fix" style="margin-top:15px;">
              <ul class="l cbgf7 br1 pdl15 pdr15" style="width:738px;">
                <li class="qty ibm lh50 h50"><span>Qty:</span></li>
                <li class="ibm lh50 h50">
                  <a id="Decrease" class="minus reduce"></a>
                  <input value="1" class="quantity l mgt15" name="qty" id="qty" type="text">
                  <a class="plus add" id="Increase"></a>
                </li>
                <li class="add_buy ibm h50 ov">
                  <input type="hidden" id="product" name="product" value="28416">
                  <div class="prae cart-btn-lists">
                    <button type="button" title="add to cart" id="add-cart" class="buy-cart cfff cor mg0 fwb ibm">ADD TO CART</button>
                    <a class="add-to-wish ibm" title="Add to wish list">add to wish list</a>

                  </div>
                </li>
                <li class="ibm lh50 h50">
                  <div class="totalhidden">
                    <span class="dn" id="totalqty">1</span>
                    <span class="dn" id="product-price">93.41</span>
                    <span class="dn" id="tatalpcsprice">$93.41</span>
                    <span class="total_price">Total Price:</span>
                    <!--<span id="totalshow">$93.41</span>-->
                    <span id="totalshow">$93.41</span>
                    <input type="hidden" id="code" value="$">
                  </div>
                </li>
              </ul> <input type="hidden" value="hk" id="shipfrom" name="shipfrom">
              <input type="hidden" value="0" id="inventory" name="inventory">
            </li>
            <li class="pdt10 pdb10">
              <a id="estimate-shipping-id" href="javascript:void(0)" class="c-p tdl">Calculate the shipping cost &gt;&gt;<span class="calculate-shipping-icon"></span></a>
              <div class="addthis_native_toolbox r">
                <!-- Go to www.addthis.com/dashboard to generate a new set of buttons -->
                <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/facebook.png" border="0" title="Facebook" alt="Facebook"></a>
                <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/twitter.png" border="0" title="Twitter" alt="Twitter"></a>
                <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/google_plusone_share.png" border="0" title="Google+" alt="Google+"></a>
                <a target="_blank">
                  <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/linkedin.png" border="0" title="LinkedIn" alt="LinkedIn"></a>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox" style="display: inline-block;"></div>

              </div>
            </li>
          </ul>
        </div>

        <div class="clear"></div>
      </div>

    </div>
  </div>
</nz-spin>
</div>