<div class="cbgfc cbr1befebe0">
  <ul class="column mgao width1024 h34 lh34">
    <li class="topfont l">
      <a href="#">
          <span class=""></span>
          <span class="l">{{"Language" | translate}}</span>
          <span class="alow"></span>
        </a>
      <span class="pixel2"></span>
      <ul class="dn">
        <li>
          <span class="font">
                <a rel="nofollow" (click)='changeLang("en")'>English</a>
            </span>
        </li>
        <li>
          <span class="font">
                <a rel="nofollow" (click)='changeLang("zh")'>中文</a>
            </span>
        </li>
      </ul>
    </li>
    <li class="l">
      <span class="font">
            <a rel="nofollow" >{{"AboutPayment" | translate}}</a>
        </span>
    </li>
    <li class="r header-top-en_US" style="*width:630px;">
      
      <span class="font l myacount" (mouseenter)="myDj=!myDj" (mouseleave)="myDj=!myDj">
            <span class="iconfont icon-accountfilling" [style.color] = "myDj ? '#50b5ff' : '#555' "></span>
            <a class="us-inventory-link" >{{'MyDj' | translate}}</a>
            <div class="myacount-blank"  [style.display] = "myDj ? 'block' : 'none' "></div>
            <div class="myacount-list pabs dn pd10 cbgfff zi4" [style.display] = "myDj ? 'block' : 'none' ">
                <ul>
                    <li><a>My Orders</a></li>        
                    <li><a>Track My Orders</a></li>
                </ul>
            </div>
        </span>
      <span class="pixel2"></span>
      <div class="admin login-box l" style="position:relative;" (mouseenter)="loginTouch=!loginTouch" (mouseleave)="loginTouch=!loginTouch">
        <a rel="nofollow" (click)='login()' >
                  <span class="font" >{{"Login" | translate}}</span>
         </a>
        <div class="login-blank" [style.display] = "loginTouch ? 'block' : 'none' " ></div>
        <ul class="admin-login-box dn" [style.display] = "loginTouch ? 'block' : 'none' ">
          <form method="post">
            <li class="tanchukuang tal cbgfff pdt15 pdb5 pdr30 pdl30">
              <dl class="l">
                <dt>
                {{"EmailAddress" | translate}}:
                </dt>
                <dt>
                  <input autocomplete="off" name="login[username]" type="text" value="" class="input-small">
                </dt>
                <dt>
                  {{"Password" |  translate}}:
                </dt>
                <dt>
                  <input name="login[password]" type="password" value="" class="input-small">
                </dt>
                <dt>
                  <button type="submit" title="Search" class="button_circle logon-btn-new">{{"Login" | translate}}</button>
                </dt>
                <dt>
                  <img class="mgao" alt="login split line" src="assets/image/login-split-line.jpg">
                </dt>
                <dt class="join-free tac">
                  <a>{{"CreateAccount" | translate}}</a>
                  <a target="_blank" title="View our membership system" >
                    <div class="product-m-i"></div>
                  </a>
                </dt>
                
              </dl>
            </li>
          </form>
        </ul>
      </div>
      <span class="pixel2"></span>
      <span class="font l">
            <a rel="nofollow" >{{"FAQ" | translate}}</a>
        </span>
      <span class="pixel2"></span>
      <span class="font l contact-panel prae">
            <a rel="nofollow" >{{"ContactUs"| translate}}</a>
        </span>

      <span class="pixel2"></span>
      <span class="font l">
          <a rel="nofollow"  target="_blank">{{"Blog" | translate}}</a>
      </span>
    </li>
  </ul>
</div>
