<div class="center width1024 mgao ">
  <div class="main-container col1-layout">
    <div class="main">

      <div class="url width1024 h60 cbg">
        <ul>
          <li class="icon"></li>
          <li class="home prae">
            <a class="pdr8 pdl8" routerLink="/home" title="Go to Home Page">Home</a>
            <font>»</font>
          </li>
          <li class="cms_page prae">
            <div class="last-nav cor">
              <strong class="pdr8 pdl8 ">All Categories</strong>
              <div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-main">
        <div class="std">
          <!-- -->
        </div>
        <div class="all-brand">
          <ul class="title">
            <li>
              <div>Shop By Brand</div>
            </li>
          </ul>
          <ul class="brand-list">
            <li *ngFor='let item of allCate'>
              <dl class="line">
                <dt class="logo-images" (click)=goAllModel(item.id)>
                  <div align="center" class="category-img">
                    <a [title]="item?.cate_name" >
                    <img  [defaultImage]="defaultImage" [lazyLoad]="item.url">
                  </a>
                  </div>
                  <div align="center" class="category-name">
                    <a [title]="item?.cate_name" class="brand-name" >
                      {{item?.cate_name}}
                    </a>
                  </div>
                </dt>
              </dl>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>