<div class="my-account">
  <div class="usercenter-userinfo">
    <div class="userinfo-header fix">
      <div class="l user-baseinfo">
        <div class="dib vt pdl20 fix">
          <p class="f20 fwb pdb10">Hello, mo mo!</p>
          <div class="level-icon 1">
            <div class="level-icon">
              <i class="user-level-icon user-level1"></i>
              <div class="f16 ibm">
                <p class="lh20 f14">ETS Member</p>
                <div class="c-w lh20">
                  <span>Green Horn</span>
                  <div class="c-w f18 ibm">
                    <div id="product-more-info" class="product-m-i">
                      <div id="text-info-id" class="text-info text-info-small">
                        <a class="c-n tdl">View our membership system.</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="pdt8">

              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="l account-manager-info f14">
        <p class="c-t f18">Account Manager specially for you:</p>
        <p class="pdt5 pdb5">Name: Service</p>
        <p class="pdb10">
          <span class="ibm">Email Address: service@bingsupply.com</span>
          <a>
            <img border="0" class="ibm pdl5 cur" src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/email-icon.jpg">
          </a>
        </p>
        <p class="pdb5">Skype ID: etrade.supply</p>
      </div>
    </div>

  </div>
  <app-order-box></app-order-box>


</div>