<div class="cbgfff mgtb8">
  <div class="head width1024 mgao">
    <div class="logo l pdt12 pdb10" style='width:450px' (click)='goHome()'>
        <div style='line-height: 100px;font-size: 50px; font-weight: bold;text-align: center'>LOGO</div>
    </div>
    <div class="searchbox l">
      <div>
        <input id="search" type="text" value="" class="search-input" name="q" [placeholder]="'PleaseEnter' | translate">
        <button title="Search" class="search-button"><span class="iconfont icon-search"></span></button>

      </div>
      <div class="hotword">
        <a>LCD</a> ,
        <a>lcd and digitizer assembly</a> ,
        <a>Front Housing Replacement</a> ,
        <a>4 lcd</a> ,
        <a>LCD Screen</a>
      </div>
    </div>

    <div class="add-cart l cor cart-show-btn">
      <div (mouseenter)="showCart=!showCart" (mouseleave)="showCart=!showCart">
        <span class="iconfont icon-cart"></span> {{"MyCart" | translate}}
      </div>

      <div class="cart-number">
        <span>{{cartCount}}</span>

        <div class="cart-number-bar">

        </div>
        <ul class="l  pabs zi3 cart-ajax-box cart-items-ajax" style="margin-left:-305px;" [style.display]="showCart ? 'block' : 'none' ">
          <li class="cart-header"></li>

          <li class="cart-list fix">
            <dl class="pdl30 pdr30 pdt10">
              <dt class="mgb10 lh18 z" style="list-style-position:outside;">
                <p class="fwb">
                  <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">{{ "EmptyCart"|translate }}
                    </font>
                  </font>
                </p>
              </dt>
            </dl>
          </li>
          <li class="cart-footer"></li>

        </ul>
      </div>
    </div>

  </div>
</div>
<div class="nav-bar">
  <div class="nav-body mgao width1024">
    <div class="l allcat" (mouseenter)='hidden = false' (mouseleave)='hidden = true'>
      <div class="label-box" >
        <span class="iconfont icon-suoyoukuanxiaodian1"></span>
        <span class="label" routerLink='/all-categories'>{{"AllBrand" | translate}}</span>
        <span class="iconfont icon-moreunfold"></span>
      </div>
      
      <ul class="brand-list " [class.list-hid]='hidden && notHome' >
        <li>
          <a>Apple</a>
          <div class="list-content">
            <div class="more">
              {{"More"|translate}}
            </div>
            <ul class="l ">
              <div class="title"  >
              <a routerLink='/allmodel/2'>
               iphone <span> (0) </span>
               </a>
               </div>

              <li>
                <a routerLink='/model/iphone'>iphone1</a>
              </li>
             
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <ul class="l nav-item">
      <li style="width:22%;">
        <a>{{"Quality" | translate}}</a>
      </li>
      <li style="width:12%;">
        <a>{{"Shipping" | translate}}</a>
      </li>
      <li style="width:13%;">
        <a>{{"Wholesale" | translate}}</a>
      </li>
      <li style="width:23%;">
        <a>{{"Enterprise" | translate}}</a>
      </li>
      <li style="width:14%;">
        <a>{{"Our" | translate}}</a>
      </li>
      <li style="width:10%;">
        <a>{{"AboutUs" | translate}}</a>
      </li>
    </ul>
  </div>
</div>