<div class="cbgfff mgtb8">
  <div class="head width1024 mgao">
    <div class="logo l pdt12 pdb10" style='width:450px' (click)='goHome()'>
      <div style='line-height: 100px;font-size: 50px; font-weight: bold;text-align: center'>
        <img style="cursor:pointer" src="assets/image/logo-index.jpg" alt="">
      </div>
    </div>
    <div class="searchbox l">
      <div>
        <input [(ngModel)]='keywords' id="search" type="text" value="" class="search-input" name="keywords" [placeholder]="'PleaseEnter' | translate">
        <button (click)='goSearch()' title="Search" class="search-button">
          <span class="iconfont icon-search"></span>
        </button>
      </div>
      <div class="hotword">
        <a (click)='goSearch("LCD")'>LCD </a> ,
        <a (click)='goSearch("Battery")'> Battery </a> ,
        <a (click)='goSearch("Speaker")'> Speaker </a> ,
        <a (click)='goSearch("Camera")'> Camera </a> ,
        <a (click)='goSearch("Other")'> Other </a>
        <a (click)='goSearch("Other")'> ... </a>
      </div>
    </div>

    <div class="add-cart l cor cart-show-btn" (mouseenter)="showCart=true;" (mouseleave)="showCart=false">
      <div (click)='goMyCart()'>
        <span class="iconfont icon-cart"></span> {{"MyCart" | translate}}
      </div>

      <div class="cart-number">
        <span>{{cartCount}}</span>

        <div class="cart-number-bar">

        </div>
        <ul class="l  pabs zi3 cart-ajax-box cart-items-ajax" style="margin-left:-305px;" [style.display]="showCart ? 'block' : 'none' ">
          <nz-spin [nzSpinning]='isSpinning'>
            <li class="cart-header"></li>
            <li class="cart-list fix" *ngIf='cartCount == 0 || !isLogin '>
              <dl class="pdl30 pdr30 pdt10">
                <dt class="mgb10 lh18 z" style="list-style-position:outside;">
                  <p class="fwb">
                    <font style="vertical-align: inherit;">
                      <font style="vertical-align: inherit;">{{ "EmptyCart"|translate }}
                      </font>
                    </font>
                  </p>
                </dt>
              </dl>
            </li>
            <div *ngIf='cartCount >0 && isLogin '>
              <li class="cart-list fix" *ngFor='let item of cartList'>
                <dl class="pdl30 pdr30">
                  <dt class="mgb10 lh18 z" style="list-style-position:outside;">
                    <li class="item fix">
                      <a (click)='goGoodsDetail(item.info_id)' [title]="item.goods_name" class="product-image">
                    <img [src]="item.url"
                      width="50" height="50" >
                  </a>
                      <div class="headrcart-details l tal pdr10">
                        <p class="product-name">
                          <a (click)='goGoodsDetail(item.info_id)'>{{item.goods_name}}</a>
                        </p>
                      </div>
                      <div class="headcart-qty l tar">
                        <strong>{{item.goods_sum}}</strong> x
                        <span class="price">AUD $ {{item.price}}</span>
                        <br>
                        <a (click)='confirmDetele(item.id)' title="Remove This Item" class="btn-remove"></a>
                      </div>
                    </li>
                  </dt>
                </dl>
              </li>
            </div>
            <li class="cart-footer" *ngIf='cartCount ==0 || !isLogin'></li>
            <li class="cart_bottom" *ngIf='cartCount >0 && isLogin'>
              <dl>
                <dt>
                  <div class="summary">
                    <div class="tar pdt10">
                      <span class="label">
                      Cart Subtotal:</span>
                      <span class="price">AUD $ {{ cartTotal | number:'1.2-2' }}</span>
                    </div>
                    <button type="button" title="View My Cart" class="headcart-button bra3 r tac br1 cor mgt5 mgb20  f13 " routerLink='/cart/cart'>
                    View My Cart </button>
                  </div>
                </dt>
              </dl>
            </li>
          </nz-spin>
        </ul>

      </div>
    </div>

  </div>
</div>
<div class="nav-bar">
  <div class="nav-body mgao width1024">
    <div class="l allcat" (mouseenter)='hidden = false' (mouseleave)='hidden = true'>
      <div class="label-box">
        <span class="iconfont icon-suoyoukuanxiaodian1"></span>
        <span class="label" routerLink='/goods/all-categories'>{{"AllBrand" | translate}}</span>
        <span class="iconfont icon-moreunfold"></span>
      </div>

      <ul class="brand-list " [class.list-hid]='hidden && notHome'>
        <nz-spin [nzSpinning]='isGettingCate'></nz-spin>
        <li *ngFor='let item of allCateList '>
          <a (click)='goOneLevel(item.id)'>{{item.cate_name}}</a>
          <div class="list-content">
            <div class="more" (click)='goOneLevel(item.id)'>
              {{"More"|translate}}
            </div>
            <ul class="l" *ngFor='let val of item.children'>
              <div class="title">
                <a (click)='goTwoLevel(val.id)'>
                  {{val.cate_name}}
                  <span> ({{val.children.length}}) </span>
                </a>
              </div>
              <li *ngFor='let las of val.children'>
                <a (click)='goGoodsList(las.id)'>{{las.cate_name}}</a>
              </li>
            </ul>
          </div>
        </li>

      </ul>

    </div>
    <ul class="l nav-item">
      <li style="width:22%;">
        <a>{{"Quality" | translate}}</a>
      </li>
      <li style="width:12%;">
        <a>{{"Shipping" | translate}}</a>
      </li>
      <li style="width:13%;">
        <a>{{"Wholesale" | translate}}</a>
      </li>
      <li style="width:23%;">
        <a>{{"Enterprise" | translate}}</a>
      </li>
      <li style="width:14%;">
        <a>{{"Our" | translate}}</a>
      </li>
      <li style="width:10%;">
        <a>{{"AboutUs" | translate}}</a>
      </li>
    </ul>
  </div>
</div>