<div class="my-account">
  <div class="my-wishlist">
    <div>
      <p class="f20 pdb20">My Wishlist</p>
    </div>

    <nz-table #nzTable [nzSize]='"small"' [nzBordered]='true' [nzLoading]='isSpinning' [nzDataSource]="data" [nzPageSize]="10">
      <thead nz-thead>
        <tr>
          <th nz-th><span>Image</span></th>
          <th nz-th><span>Product Name</span></th>
          <th nz-th><span>SKU</span></th>
          <th nz-th><span>Unit Price</span></th>
          <th nz-th><span>Added On</span></th>
          <th nz-th><span>Add to Cart</span></th>
          <th nz-th><span>Control</span></th>

        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
          <td nz-td>
            <a (click)='goGoodsDetail(data.info_id)'>
                <img width="80" height="80" [src]="data.url" alt="">
              </a>
          </td>
          <td nz-td>
            <a (click)='goGoodsDetail(data.info_id)'>
              {{data.goods_name}}
            </a>
          </td>
          <td nz-td>{{data.sku}}</td>
          <td nz-td>
            $ {{data.price | number:'1.2-2' }}
          </td>
          <td nz-td>
            <a>{{data.create_time | date }}</a>
          </td>
          <td nz-td style="text-align: center">
            <p>
              <nz-input-number [(ngModel)]="data.goodsNum" [nzMin]="1" [nzStep]="1"></nz-input-number>
            </p>
            <button (click)='addToCart(data)' type="button" title="Add to Cart" class="button btn-cart"><span><span>Add to Cart</span></span></button>

          </td>
          <td nz-td><a (click)='deleteWishItem(data.id)' class="btn-remove btn-remove2 tdl c-n">Remove</a></td>

        </tr>
      </tbody>
    </nz-table>


    <div class="buttons-set buttons-set2">
      <!-- <button type="submit" onclick="this.name='save_and_share'" title="Share Wishlist" class="button btn-share"><span><span>Share Wishlist</span></span></button> -->
      <button style='display:none' type="button" title="Add All to Cart" class="button btn-add"><span><span>Add All to Cart</span></span></button>
      <button (click)='update()' type="submit" title="Update Wishlist" class="button btn-update"><span><span>Update Wishlist</span></span></button>
    </div>



  </div>
  <div class="buttons-set">
    <p class="back-link"><a routerLink='/person/person'><small>« </small>Back</a></p>
  </div>
</div>