<div>
  <div class="myorder-orderinfo  fix">
    <ul>
      <li>
        <i class="order-icon payment"></i>
        <a>
          <span class="ibm">Pending payment
            <span class="c-w  pdl10 pdr10">2</span>
          </span>
        </a>
      </li>
      <li>
        <i class="order-icon shipment"></i>
        <a>
          <span class="ibm">Pending shipment
            <span class="c-w pdl10 pdr10">0</span>
          </span>
        </a>
      </li>
      <li style="border:0px;">
        <i class="order-icon review"></i>
        <a>
          <span class="ibm">Pending review
            <span class="c-w pdl10 pdr10">0</span>
            <img src="https://www.etradesupply.com/skin/frontend/default/ets2015/images/pendding-reivew.jpg">
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="user-order-list">
    
    <div class="myorders-search-bar">
      <ul class="fix">
        <li>
          <select name="order_date_select" id="order_date_select">
            <option selected="selected" value="https://www.etradesupply.com/customer/account/index/order_date/3m/">Last three months</option>
            <option value="https://www.etradesupply.com/customer/account/index/order_date/1y/">Last year</option>
          </select>
        </li>
        <li class="mgl10">
          <select name="order_status_select" id="order_status_select">
            <option selected="selected">All status</option>
            <option>Pending Payment</option>
            <option value="processing">Pending Shipment</option>
            <option value="shipped">Shipped</option>
            <option value="">Partially Shipped</option>
          </select>
        </li>
        <li style="float:right">
          <form name="order_form" action="" method="get">
            <input type="text" style="width:200px;vertical-align:middle" placeholder="Order Number" name="order_id">
            <button style="line-height:28px" type="submit">Search</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="myorders-list-bar ">
      <ul class="fix">
        <li style="width:105px;">Image</li>
        <li style="width:230px;">Product Name</li>
        <li style="width:120px;">Unit Price</li>
        <li style="width:90px;">Qty</li>
        <li style="width:140px;">Grand Total</li>
        <li style="width:260px;">Operate</li>
      </ul>
    </div>
    <div class="myorders-list-box">
      <ul class="fix">
        <li style="margin-top:15px;">
          <div class="fix">
            <table class="myorder-table" width="100%" border="0" cellspacing="0" bordercolor="#eaeaea" cellpadding="0" bgcolor="#FFFFFF">
              <thead>
                <tr>
                  <th colspan="7" class="order-title">
                    <span class="pdr20">10/26/17</span>
                    <span class="pdr20">Order: #100222527</span>
                    <span class="pdr20">Pending Payment</span>
                    <a class="confirm_delete" style="cursor:pointer;" link="https://www.etradesupply.com/orderhide/index/index/order_id/211038/">
                      <i class="del-icon"></i>
                    </a>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="show_order_item">
                  <td width="105" class="thumb-img pd10">
                    <a>
                      <img border="0" src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Apple_iPhone_8_Tempered_Glass_Screen_Protector_without_Package_5D_-_Black_-_Grade_R_0_.jpg"
                        height="105" width="105">
                    </a>
                  </td>
                  <td width="205" class="pd5 desc product_discribe">
                    <a class="product_name">For Apple iPhone 8 Tempered Glass Screen Protector without Package (5D) - Black - Grade R</a>
                  </td>
                  <td width="120" class="tac price">
                    <span class="price">$3.56</span>
                  </td>
                  <td width="90" class="tac quantity">1</td>
                  <td class="tac rowspan_list" rowspan="1" valign="middle">
                    <span class="price">$20.82</span>
                  </td>
                  <td width="160" class="tac rowspan_list" rowspan="1" valign="middle">
                    <a class="db c-n">View Order</a>

                    <span class="paymentBridge" style="position:relative;">
                      <a style="color:#6699cc;">Pay Now</a>

                    </span>
                    <a class="db c-n confirm_cancel" style="cursor:pointer;">Cancel Order</a>
                  </td>
                  <td width="120" class="tac rowspan_list" rowspan="1" valign="middle">
                    <a>Reorder</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </li>
        <li style="margin-top:15px;">
          <div class="fix">
            <table class="myorder-table" width="100%" border="0" cellspacing="0" bordercolor="#eaeaea" cellpadding="0" bgcolor="#FFFFFF">
              <thead>
                <tr>
                  <th colspan="7" class="order-title">
                    <span class="pdr20">10/18/17</span>
                    <span class="pdr20">Order: #100222103</span>
                    <span class="pdr20">Pending Payment</span>
                    <a class="confirm_delete" style="cursor:pointer;" link="https://www.etradesupply.com/orderhide/index/index/order_id/210612/">
                      <i class="del-icon"></i>
                    </a>

                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="show_order_item">
                  <td width="105" class="thumb-img pd10">
                    <a>
                      <img border="0" src="https://s3-us-west-2.amazonaws.com/usetsfiles/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/F/o/For_Motorola_Moto_G2_LCD_Screen_and_Digitizer_Assembly_with_Front_Housing_Replacement_-_Black_-_Without_Any_Logo_-_Grade_S_1__1.jpg"
                        height="105" width="105">
                    </a>
                  </td>
                  <td width="205" class="pd5 desc product_discribe">
                    <a class="product_name">For Motorola Moto G2 LCD Screen and Digitizer Assembly with Front Housing Replacement - Black - Without
                      Logo - Grade S+</a>
                  </td>
                  <td width="120" class="tac price">
                    <span class="price">$28.17</span>
                  </td>
                  <td width="90" class="tac quantity">2</td>
                  <td class="tac rowspan_list" rowspan="1" valign="middle">
                    <span class="price">$73.60</span>
                  </td>
                  <td width="160" class="tac rowspan_list" rowspan="1" valign="middle">
                    <a class="db c-n">View Order</a>

                    <span class="paymentBridge" style="position:relative;">
                      <a style="color:#6699cc;">Pay Now</a>

                    </span>
                    <a class="db c-n confirm_cancel" style="cursor:pointer;">Cancel Order</a>
                  </td>
                  <td width="120" class="tac rowspan_list" rowspan="1" valign="middle">
                    <a>Reorder</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>