<nz-spin [nzSpinning]="isSpinning">

  <div>
    <div class="myorder-orderinfo  fix">
      <ul>
        <li>
          <i class="order-icon payment"></i>
          <a (click)='status=0;changeShow("0")'>
            <span class="ibm">Pending payment
              <span class="c-w  pdl10 pdr10">{{this.pendingPay.length}}</span>
            </span>
          </a>
        </li>
        <li>
          <i class="order-icon shipment"></i>
          <a (click)='status=2;changeShow("2")'>
            <span class="ibm">Shipped
              <span class="c-w pdl10 pdr10">{{this.shiped.length}}</span>
            </span>
          </a>
        </li>
        <li style="border:0px;">
          <i class="order-icon review"></i>
          <a  (click)='status=3;changeShow("3")'>
            <span class="ibm">Pending review
              <span class="c-w pdl10 pdr10">{{this.doneList.length}}</span>
              <img src="assets/image/pendding-reivew.jpg">
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="user-order-list">

      <div class="myorders-search-bar">
        <ul class="fix">
          <li>
            <select name="order_date_select" id="order_date_select">
              <option selected="selected">Last three months</option>
              <option>Last year</option>
            </select>
          </li>
          <li class="mgl10">
            <select (ngModelChange)='changeShow($event)' [(ngModel)]='status' name="order_status_select" id="order_status_select">
              <option value='5' selected='true'>All status</option>
              <option value="0">Pending Payment</option>
              <option value="1">Pending Shipment</option>
              <option value="2">Shipped</option>
              <option value="3">Partially Shipped</option>
            </select>
          </li>
          <li style="float:right">
            <form name="order_form" action="" method="get">
              <input type="text" style="width:200px;vertical-align:middle" placeholder="Order Number" name="order_id">
              <button style="line-height:28px" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
      <div class="myorders-list-bar ">
        <ul class="fix">
          <li style="width:105px;">Image</li>
          <li style="width:230px;">Product Name</li>
          <li style="width:120px;">Unit Price</li>
          <li style="width:90px;">Qty</li>
          <li style="width:140px;">Grand Total</li>
          <li style="width:260px;">Operate</li>
        </ul>
      </div>
      <div class="myorders-list-box">
        <ul class="fix">
          <li style="margin-top:15px;" *ngFor='let item of showList;let i = index'>
            <div class="fix" *ngIf='item.status!=4'>
              <table class="myorder-table" width="100%" border="0" cellspacing="0" bordercolor="#eaeaea" cellpadding="0" bgcolor="#FFFFFF">
                <thead>
                  <tr>
                    <th colspan="7" class="order-title">
                      <span class="pdr20">{{item.create_time | date}}</span>
                      <span class="pdr20">Order: # {{item.order_sn}}</span>
                      <span class="pdr20">{{item.status == 0?"Pending Payment":item.status == 1?"Pending ship":item.status == 2?"Shiped":"Done"}}</span>
                      <a class="confirm_delete" (click)=' confirmDetele(i,item.id)' style="cursor:pointer;">
                        <i class="del-icon"></i>
                      </a>

                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="show_order_item">
                    <td width="105" class="thumb-img pd10">
                      <a>
                        <img border="0" [src]="item.order_goods[0].url" height="105" width="105">
                      </a>
                    </td>
                    <td width="205" class="pd5 desc product_discribe">
                      <a class="product_name">{{item.order_goods[0].goods_name}}</a>
                    </td>
                    <td width="120" class="tac price">
                      <span class="price">$ {{item.order_goods[0].goods_price}}</span>
                    </td>
                    <td width="90" class="tac quantity">{{item.order_goods[0].goods_sum | number:'1.0-2'}}</td>
                    <td class="tac rowspan_list" rowspan="1" valign="middle">
                      <span class="price">$ {{item.order_goods[0].goods_total}}</span>
                    </td>
                    <td width="160" class="tac rowspan_list" rowspan="1" valign="middle">
                      <a class="db c-n">View Order</a>

                      <span class="paymentBridge" style="position:relative;">
                        <a style="color:#6699cc;" (click)='payNow(item.id)' *ngIf='item.status ==0'>Pay Now</a>
                        <a style="color:#6699cc;" *ngIf='item.status ==1'>PendingShip</a>
                        <a style="color:#6699cc;" *ngIf='item.status ==2'>Shiped</a>
                        <a style="color:#6699cc;" *ngIf='item.status ==3'>Done</a>                                                   
                      </span>
                      <a class="db c-n confirm_cancel" style="cursor:pointer;" (click)=' confirmDetele(i,item.id)'>Cancel Order</a>
                    </td>
                    <td width="120" class="tac rowspan_list" rowspan="1" valign="middle">
                      <a>Reorder</a>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nz-spin>