<div class="width1024 mgao ">
  <div class="h60 url">
    <ul>
      <li class="icon"></li>
      <li class="home prae">
        <a class="pdr8 pdl8" routerLink="/home" title="Home">Home</a>
        <font>»</font>
      </li>
      <li class="current prae">
        <div class="last-nav cor">
          <strong class="pdr8 pdl8 ">{{firstLvl?.cate_name}}</strong>
          <div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="ets-left">
      <app-facebook-box></app-facebook-box>
  </div>
  <div class="ets-right">
    <div class="clear"></div>
    <div class="mod-line-mt"></div>
    <div class="brand_con oh">
      <ul class="oh">
        <li class="oh db" style="width:100%;border-bottom:1px #CCCCCC dashed;" *ngFor = 'let item of secondLvl'>
          <dl class="oh">
            <h4 class="f14 fw h30 c069">
              <a (click)='goModel(item.id)'>{{item?.cate_name}}</a>
            </h4>
            <dt class="tac l mgl10 mgt10" *ngFor = 'let val of item.children' (click)='goGoodsList(val.id)'>
              <a >
                <img [defaultImage]="defaultImage" [lazyLoad]="val.url" width="136" class="lazy"  style="display: block;">
              </a>
              <p><a>{{val?.cate_name}}</a></p>
            </dt>
          </dl>
        </li>
      </ul>
    </div>
    <div class="prolist-desc clearfix">
      <p style="text-align: justify;">
        The BingSupply.com team stands ready in support of your Apple parts supply requirements. We have a complete line
        of Apple Smart Phone components, accessories in stock ready to quality assure to industry leading ISO9001 standards.
        Below you will see our competitive single unit prices, but don’t hesitate to 
        <a class="link-default" title="Register as BingSupply.com Member" router-link='/login'>register</a>
         as an ETS member and qualify
        for even greater savings.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>