<div class="center">
  <div class="main-container col1-layout">
    <div class="main">

      <div class="col-main" *ngIf='cartNum == 0'>

        <div class="page-title">
          <h1>Shopping Cart is Empty</h1>
        </div>
        <div class="cart-empty">
          <div class="cart-empty">
            <p class="cart-empty-bottom">You have no items in your shopping cart. Click
              <a routerLink='/home'>here</a> to continue shopping.
            </p>

          </div>
        </div>

      </div>
      <div class="col-main" *ngIf='cartNum > 0'>
        <div class="shopping_cart pdt15">
          <form method="post" id="form-cart">
            <h5 class="f25 dib mgt5 mgb15 c-w">
              Shopping Cart</h5>
            <a style="font-size:14px;margin-left:10px;color:#666;cursor:pointer;text-decoration:underline;">
              Download Shopping Cart List</a>
            <span style="float:right;margin-top: 18px;width:500px;">
              <nz-steps>
                <nz-step [nzTitle]="'Login'" [nzStatus]="'finish'">
                  <ng-template #nzIcon>
                    <i class="anticon anticon-user"></i>
                  </ng-template>
                </nz-step>
                <nz-step [nzTitle]="'Cart'" [nzStatus]="'process'">
                  <ng-template #nzIcon>

                    <i class="anticon anticon-shopping-cart"></i>
                  </ng-template>
                </nz-step>
                <nz-step [nzTitle]="'Pay'" [nzStatus]="'wait'">
                  <ng-template #nzIcon>
                    <i class="anticon anticon-credit-card"></i>
                  </ng-template>
                </nz-step>
                <nz-step [nzTitle]="'Done'" [nzStatus]="'wait'">
                  <ng-template #nzIcon>
                    <i class="anticon anticon-smile-o"></i>
                  </ng-template>
                </nz-step>
              </nz-steps>
            </span>
            <div class="clear"></div>
            <div class="pdb15 pdt15 freeshipping_ads">

            </div>

            <div id="local_content">
              <div class="prae brlr">
                <nz-table [nzLoading]='isSpinng' #nzTable [nzDataSource]="cartList" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()"
                  (nzPageSizeChange)="_refreshStatus()">
                  <thead nz-thead>
                    <tr>
                      <th nz-th [nzCheckbox]="true">
                        <label nz-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                        </label>
                      </th>
                      <th nz-th>
                        <span>{{"Image" | translate}}</span>
                      </th>
                      <th width='600' nz-th>
                        <span>{{"Product" | translate}}</span>
                      </th>

                      <th nz-th>
                        <span>{{"Price" | translate}}</span>
                      </th>
                      <th nz-th style='text-align:center'>
                        <span>{{"Qty" | translate}}</span>
                      </th>
                      <th nz-th>
                        <span>{{"Subtotal" | translate}}</span>
                      </th>
                      <th nz-th>
                        <span>{{"Controls" | translate}}</span>
                      </th>

                    </tr>
                  </thead>
                  <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                      <td nz-td [nzCheckbox]="true">
                        <label nz-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                        </label>
                      </td>
                      <td nz-td>
                        <a (click)='goGoodsDetail(data.id)'>
                          <img style='width:80px' [defaultImage]="defaultImg" [lazyLoad]="data.url" alt="">
                        </a>
                      </td>
                      <td nz-td>
                        <a (click)='goGoodsDetail(data.id)'>
                          {{data.goods_name}}
                          <span style="color:red ">{{data.standard_value1}}</span>
                        </a>
                      </td>
                      <td nz-td>$ {{data.price}}</td>
                     
                      <td nz-td>
                          <button  class="add">
                              -
                            </button>
                        <span class="sum" style=" width:50px; text-align:center"  >
                        {{data.goods_sum}}</span>
                          <button class="add" >
                              +
                            </button>
                      </td>
                      <td nz-td>$ {{data.price*data.goods_sum | number:'1.2-2'}}</td>
                      <td nz-td>
                        <button nz-button [nzType]="'danger'" (click)='confirmDetele(data.id)'>
                          <span>{{"Remove" |translate }}</span>
                        </button>

                      </td>
                    </tr>
                  </tbody>
                </nz-table>

              </div>
            </div>
            <div class="cbrc4 cbgfc pat15 pdr20 pdb10 pdl10 pdt5 mgb15">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="100%" rowspan="1" valign="top">
                      <div>
                        
                        
                        <button (click)='_checkAll(false)' type="submit"  name="update_cart_action" value="delete_qty" title="Remove Selected Items"
                          class="button ibm">
                          <span>
                            <span>Remove Selected Items</span>
                          </span>
                        </button>
                        <button type="button" title="Continue Shopping" class="button ibm" routerLink='/home'>
                          <span>
                            <span>Continue Shopping</span>
                          </span>
                        </button>
                        <em class="checkout-car-tips">*Please kindly note that the product cost is fluctuating due to the market variations.</em>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="clear:both;"></div>
            <div class="cbrc4 cbgfc pdr20 pdb30 pdl10 pdt25">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td width="50%" rowspan="1" valign="top">
                    </td>
                    <td width="50%" height="20" align="right" style="">
                      <table width="100%">
                        <tbody>
                          <tr style="text-align:right;">
                            <td id="checkout-cart-totals-content" class="">
                              <table width="100%" id="shopping-cart-totals-table">
                                <tbody>

                                  <tr>
                                    <td class="title">Total (Excluding Freight)</td>
                                    <td class="value">
                                      <span class="price">$ {{cartTotal |  number:'1.2-2'}}</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="title">Calculate shipping</td>
                                    <td>
                                      <a id="estimate-shipping-id" name="estimate-shipping-id" class="c-p tdl estimate-shipping-id">
                                        <span class="calculate-shipping-icon"></span>
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td valign="top" style="padding:5px 10px;">
                    </td>
                    <td align="right" class="separateorder_content">
                      <ul class="checkout-types">
                        <li style="position:relative;">
                          <button (click)='goCheckOut()' type="button" title="Proceed to Checkout" id="btn-proceed-checkout-id" class="btn-proceed-checkout orange btn-checkout">
                            <span class="cf">
                              <span class="cf">Proceed to Checkout</span>
                            </span>
                          </button>

                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>


        </div>

      </div>
    </div>
  </div>
</div>