<div class="width1024 mgao ">
  <div class="h60 url">
    <ul>
      <li class="icon"></li>
      <li class="home prae">
        <a class="pdr8 pdl8" router-link="/home" title="Home">Home</a>
        <font>»</font>
      </li>
      <li class="current prae">
        <div class="last-nav cor">
          <strong class="pdr8 pdl8 ">Apple</strong>
          <div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="ets-left">
      <app-facebook-box></app-facebook-box>
  </div>
  <div class="ets-right">


    <div class="clear"></div>
    <div class="mod-line-mt"></div>
    <div class="brand_con oh">
      <ul class="oh">
        <li class="oh db" style="width:100%;border-bottom:1px #CCCCCC dashed;">
          <dl class="oh">
           
            <dt class="tac l mgl10 mgt10">
              <a >
                <img width="136" class="lazy"  style="display: block;">
              </a>
              <p><a>Apple iPhone X</a></p>
            </dt>
            
          </dl>
        </li>
      </ul>
    </div>


    <div class="prolist-desc clearfix">
      <p style="text-align: justify;">
      If you are looking for OEM iPhone replacement parts or original iPhone replacement parts, iPhone repair parts, iPhone parts, please feel free to contact Bing Supply.
        <a class="link-default" title="Register as BingSupply.com Member" router-link='/login'>register</a>
         as an ETS member and qualify
        for even greater savings.</p>
    </div>
   
  </div>

  <div class="clear"></div>
</div>