<div class="address">
  <div class="address_book_list">
    <p class="f20 mgb10">My Address Book</p>
    <button type="button" title="Add New Address" class="button" (click)='addAddress()'><span><span>Add New Address</span></span></button>
  </div>
  <div class="col2-set addresses-list fix">
    <nz-spin [nzSpinning]='isSpinning'> 
      <div class="addresses-additional">
        <ol>
          
          <li class="item prae" *ngFor = 'let item of addressList'>
            <i class="address-close f18" (click)='removeAddress(item.id)'>x</i>
            <span class="defalut-address" *ngIf='item.is_default == 1'>Default Shipping Address</span>
            <address>
              name: {{item.firstname}} ,{{ item.lastname}}
              <br> Zipcode :{{ item.zipcode}}
              <br> {{ item.state }} , {{ item.city }}, {{ item.streetaddress }}
              <br> United States
              <br> Mobile : {{item.mobile}}
            </address>
            <p class="tar">
              <a class="c-n tdl" (click)='setDefault(item.id)'>
                        Set as default Shipping address                    </a>
              <span class="separator">|</span>
              <a class="c-n tdl" (click)='editAddress(item.id)'>
                        Edit Address                    </a>
            </p>
          </li>
        </ol>
      </div>
    </nz-spin>
  </div>
  <div class="buttons-set">
    <p class="back-link" routerLink='/person/person'><a><small>« </small>{{"Back"| translate}} </a></p>
  </div>

</div>

<app-address-box [isVisible]='isVisible' [addressId]='addressId' (close)='isVisible = false;getAddressList()'></app-address-box>