<div class="center">
  <div class="ets fix">

    <div class="url width1024 h60 cbg">
      <ul>
        <li class="icon"></li>
        <li class="home prae">
          <a class="pdr8 pdl8" routerLink='/home' title="Home">Home</a>
          <font>»</font>
        </li>
        <li class="category170 prae">
          <a class="pdr8 pdl8" title="Apple" (click)='goAllModel(firstLvl.id)'>{{firstLvl?.cate_name}}</a>
          <font>»</font>
        </li>
        <li class="category174 prae">
          <a class="pdr8 pdl8" title="iPhone" (click)='goModel(secondLvl.id)'>{{secondLvl?.cate_name}}</a>
          <font>»</font>
        </li>
        <li class="current prae">
          <div class="last-nav cor">
            <strong class="pdr8 pdl8">{{lastLvl?.cate_name}}</strong>
            <div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="ets-left">
      <app-facebook-box></app-facebook-box>
    </div>
    <div class="ets-right">
      <div class="brand oh mod-line-bottom">
        <ul>
          <li class="f14 lh40 h40 pdl15" style="background:#f7f7f7;">
            <span class="fwb pdl10 pdr10">Shop by</span>
            <span>{{lastLvl?.cate_name}} </span>
          </li>
          <li class="brand-img oh pd15">
            <ul>
              <li class="fix attrsearch-wrap attr-parts">
                <div class="attrsearch-key">Parts:</div>
                <div class="attrsearch-value">
                  <ul class="attrsearch-value-list fix " [class.attrsearch-value-list-open]='morePart'>
                    <li *ngFor='let item of parts;let i = index' (click)='selectPart(i+1,item)' [class.dn]='partsId' [class.pud]="partsId&&partsId==i+1">
                      <span *ngIf='partsId' class="spanbg">You've chosen </span>
                      <a [title]="item" [style.color.red]='partsId'> {{item}} </a>
                      <a *ngIf='partsId' class="remove closechoose" title="Remove This Item">x</a>
                    </li>

                  </ul>
                  <a class="list-more" (click)='morePart = !morePart'>More →</a>

                </div>
              </li>
              <li class="fix attrsearch-wrap attr-price">
                <div class="attrsearch-key">Price:</div>
                <div class="attrsearch-value">

                  <ul class="attrsearch-value-list fix">
                    <li>
                      <span class="spanbg"></span>
                      <a>
                        Ascending
                        <i class="anticon anticon-arrow-up"></i>
                      </a>
                    </li>
                    <li>
                      <span class="spanbg"></span>
                      <a>
                        Reverse
                        <i class="anticon anticon-arrow-down"></i>
                      </a>
                    </li>
                  </ul>

                </div>
              </li>


            </ul>

          </li>
        </ul>
      </div>
      <div class="option top toolbar-sort-wrap">

        <span>
          Total :
        </span>


        <strong class="fanye">{{showGoodsList.length}} Item(s)</strong>

      </div>
      <div class="productlist">
        <nz-spin  style="position:absolute; top:50%;left:50%;" [nzSpinning]="nzSpinning"></nz-spin>
        <app-goods-box2 *ngFor='let item of finallyList' [goods]='item'></app-goods-box2>
      
        <div class="clear"></div>

      </div>
      <div *ngIf='finallyList.length ==0' class="search_no">Search no results !</div>
      <div class="toolbar-bottom">
        <div class="toolbar">
          <div class="option bottom">
            <ul>
              <li>
                Show : &nbsp;
              </li>
              <li>
                <div class="limiter" style='width: 870px;'>
                  <select [(ngModel)]='showNum' (ngModelChange)="changeShowList($event)">
                    <option selected="selected" value="20">20</option>
                    <option value="40">40</option>
                    <option value="60">60</option>
                  </select>
                  <nz-pagination style="float:right; " (ngModelChange)='changePage()' [nzPageSize]="showNum" [(nzPageIndex)]="_current" [nzTotal]="showGoodsList.length" [nzSize]="'small'"></nz-pagination>
                </div>
              </li>
              <li class="pager">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="prolist-desc clearfix">
        For {{lastLvl?.cate_name}}
      </div>
    </div>
  </div>



</div>