<div class="center">
  <div class="ets fix">

    <!-- <div class="url width1024 h60 cbg">
      <ul>
        <li class="icon"></li>
        <li class="home prae">
          <a class="pdr8 pdl8" routerLink='/home' title="Home">Home</a>
          <font>»</font>
        </li>
        <li class="category170 prae">
          <a class="pdr8 pdl8" title="Apple" (click)='goAllModel(firstLvl.id)'>{{firstLvl.cate_name}}</a>
          <font>»</font>
        </li>
        <li class="category174 prae">
          <a class="pdr8 pdl8" title="iPhone" (click)='goModel(secondLvl.id)'>{{secondLvl.cate_name}}</a>
          <font>»</font>
        </li>
        <li class="current prae">
          <div class="last-nav cor">
            <strong class="pdr8 pdl8">{{lastLvl.cate_name}}</strong>
            <div>
            </div>
          </div>
        </li>
      </ul>
    </div> -->
    <div class="ets-left">
      <app-facebook-box></app-facebook-box>
    </div>
    <div class="ets-right">
      <div class="brand oh mod-line-bottom">
        <ul>
          <li class="f14 lh40 h40 pdl15" style="background:#f7f7f7;">
            <span class="fwb pdl10 pdr10">Shop by</span>
          </li>
          <li class="brand-img oh pd15">
            <ul>
              <li class="fix attrsearch-wrap attr-parts">
                <div class="attrsearch-key">Parts:</div>
                <div class="attrsearch-value">
                  <ul class="attrsearch-value-list fix " [class.attrsearch-value-list-open]='morePart'>
                    <li *ngFor = 'let item of parts'>
                      <span class="spanbg"></span>
                      <a [title]="item" > {{item}} </a> (0)
                    </li>
                      
                  </ul>
                  <a class="list-more" (click)='morePart = !morePart'>More →</a>

                </div>
              </li>
              <li class="fix attrsearch-wrap attr-price">
                <div class="attrsearch-key">Price:</div>
                <div class="attrsearch-value">

                  <ul class="attrsearch-value-list fix">
                    <li>
                      <span class="spanbg"></span>
                      <a title="$0.00 - $99.99">
                        <span class="price">$0.00</span> -
                        <span class="price">$99.99</span>
                      </a> (12)
                    </li>
                    <li>
                      <span class="spanbg"></span>
                      <a title="$200.00 and above">
                        <span class="price">$200.00</span> and above</a> (2)
                    </li>
                  </ul>

                </div>
              </li>
              

            </ul>
            
          </li>
        </ul>
      </div>
      <div class="productlist">
        <app-goods-box2 *ngFor='let item of goods' [goods]='item'></app-goods-box2>
      </div>
      <div class="toolbar-bottom">
        <div class="toolbar">
          <div class="option bottom">
            <ul>
              <li>
                Show:
              </li>
              <li>
                <div class="limiter">
                  <select>
                    <option selected="selected">20</option>
                    <option>40</option>
                    <option>60</option>
                  </select>
                </div>
              </li>
              <li class="pager">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="prolist-desc clearfix">
        For  {{lastLvl.cate_name}}
      </div> -->
    </div>
  </div>



</div>