@import '../../shared/common/color';

.footer_arctile {
    margin: 0 auto;
    width: 1200px;
    height: 180px;
    padding: 30px 0px;
    margin-top:30px;
}

.footer_arctile .faq h2 {
    width: 201px;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    
}
.c-t {
    color: #0e2f48;
}
.footer_arctile .faq li {
    width: 220px;
    line-height: 25px;
}
.footer_gunayli {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1200px;
    margin: 0 auto;
}