
@import '../../shared/common/color';
.ets {
    width: 1200px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

div{
    font-size: 13px;
}
.ets-left {
    width: 230px;
    float: left;
}

.ets-right {
    width: 953px;
    float: left;
    margin: 0px 0 0 17px;
}

.clearfix {
    zoom: 1;
}
.brand_con dt {
    width: 135px;
    height: 215px;
}
.prolist-desc {
    border: 1px solid #e4e4e4;
    margin-top: 20px;
    padding: 10px 30px;
    clear: both;
}