<div class="ets fix">

  <div class="url width1024 h60 cbg">
    <ul>
      <li class="icon"></li>
      <li class="home prae">
        <a class="pdr8 pdl8" routerLink="/home" title="Home">{{'Home' | translate}}</a>
        <font>»</font>
      </li>
      <li class="category170 prae">
        <a class="pdr8 pdl8"  title="Apple" (click)="goAllModel(firstLvl.id)" >{{firstLvl.cate_name}}</a>
        <font>»</font>
      </li>
      <li class="current prae">
        <div class="last-nav cor">
          <strong class="pdr8 pdl8 ">{{secondLvl.cate_name}}</strong>
          <div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="ets-left">
    <app-facebook-box></app-facebook-box>
  </div>
  <div class="ets-right">
    <div class="clear"></div>
    <div class="mod-line-mt"></div>
    <div class="brand_con oh">
      <ul class="oh">
        <dt class="tac l mgl10 mgt10" *ngFor = 'let item of lastLvl' (click)='goGoodsList(item.id)'>
          <a>
            <img [defaultImage]="defaultImage" [lazyLoad]="item.url" width="136" class="lazy"  [alt]="item.cate_name">
            
          </a>
          <p><a>{{item.cate_name}}</a></p>
        </dt>
      </ul>
    </div>
    <div class="prolist-desc clearfix">
      If you are looking for OEM iPhone replacement parts or original iPhone replacement parts, iPhone repair parts, iPhone parts,
      please feel free to contact Bing Supply.</div>
  </div>
</div>