<div class="center">
  <noscript>
    &lt;div class="noscript"&gt; &lt;div class="noscript-inner"&gt; &lt;p&gt;&lt;strong&gt;JavaScript seem to be disabled in
    your browser.&lt;/strong&gt;&lt;/p&gt; &lt;p&gt;You must have JavaScript enabled in your browser to utilize the functionality
    of this website.&lt;/p&gt; &lt;/div&gt; &lt;/div&gt;
  </noscript>
  <div class="ets fix">

    <div class="ets-left">
      <div class="block block-account block-account-en_US">
        <div class="block-title">
          <span style="color:#808080;">
            <a routerLink='/person'>MY ETS</a>
          </span>
        </div>
        <div class="block-content">
          <ul>
            <li>
              <a>My Product Reviews</a>
            </li>
            <li>
              <a>My ETS Points</a>
            </li>
          </ul>
          <ul class="block-border-dash">
            <li>
              <a routerLink='/person/order' routerLinkActive='c-w'>My Orders</a>
            </li>
            <li>
              <a>My Back Order</a>
            </li>
            <li>
              <a routerLink='/person/track-order' routerLinkActive='c-w'>Track My Orders</a>
            </li>
            <li>
              <a routerLink='/person/wish-list' routerLinkActive='c-w'>My Wishlist</a>
            </li>
            <li>
              <a>My RMA</a>
            </li>
          </ul>
          <ul>
            <li>
              <a routerLink='/person/address' routerLinkActive='c-w'>My Address Book</a>
            </li>
            <li>
              <a>Other Account Settings</a>
            </li>
            <li class="last">
              <a>My Affiliate</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="block blockticket">
        <div class="block-title">
          <strong>
            <span>Support Tickets</span>
          </strong>
        </div>
        <div class="block-content">
          <ul>
            <li class="last">
              <a>View All Past Ticket</a>
            </li>
          </ul>
        </div>
      </div>
      <!--[VIEWED_PRODUCTS container="Enterprise_PageCache_Model_Container_Viewedproducts" block="Mage_Reports_Block_Product_Viewed" template="reports/product_viewed.phtml" cache_id="72db756b3d8c86c3bfb24703e043ea89a09bf7c6" cache_lifetime="600"-->
      <!--VIEWED_PRODUCTS]-->
    </div>
    <div class="ets-right">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="clear"></div>
</div>