
    @import '../../shared/common/color';
    
    .f18 {
        font-size: 18px !important;
    }
    

    .about_us_bg h1, h2, h3, h4 {
        font-weight: normal;
        color: #3399cc;
    }
    .orderStatusTable td {
        padding: 8px;
    }
    .orderStatusTable {
        font-size: 13px;
    }
  
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    .error{
        color:red;
    }