<div class="std"><p></p><div style="padding:10px 30px;">
    <h3 class="f18">Check My Order Status</h3>
    <p class="pdt5 pdb5">Please enter your order number and email address to check the order status.</p>
    <div class="pd20 cbr1 orderstatus-box">
      <form name="" action="https://www.etradesupply.com/check-order-status/" method="get">
        <table border="0" cellspacing="0" cellpadding="0" class="orderStatusTable">
          <tbody><tr>
            <td><i class="note-require">*</i><strong>Order Number:</strong></td>
            <td><input class="input-middle" type="text" name="order_id" id="order_id" value=""></td>
          </tr>
          <tr>
            <td><i class="note-require">*</i><strong>Email Address:</strong></td>
            <td><input class="input-middle" name="email_address" type="text" id="email_address" value="" size="30"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><button  value="Submit" id="order-track-submit" ><span>Submit</span></button></td>
          </tr>
        </tbody></table>
      </form>
    </div>
  </div><p></p></div>