/* You can add global styles to this file, and also import other style files */

@import url('app/shared/common/iconfont.css');
@import url('app/shared/common/stylesheet.css');
@import url('app/shared/common/common.css');



body{
    font-family:"open sans",Arial,Geneva, sans-serif; 
    color:#555;
}

input{
    border-radius: 0 !important;
}






