<div>
  <div class="mgao width1024" style="position: relative">
    <div class="right-box">
      <div class="banner-box">
        <div class='banners' (mouseenter)='bannerIn()' (mouseleave)='bannerOut()'>
          <ul class="ul" style="width: 10000px;" #banner>
            <li class='l' *ngFor='let item of bannerImg ' style="width:950px;height: 260px;text-align: center;">
              <a>
                <img [src]="item.url">
              </a>
            </li>
          </ul>

          <div class="pre btn" (click)='btn(-1)'><span class="iconfont icon-back"></span></div>
          <div class="next btn" (click)='btn(1)'><span class="iconfont icon-more"></span></div>

          <ul class="points">
            <li class="l" [class.active]='i == currentIndex' *ngFor='let item of bannerImg;index as i ' (mouseenter)='point(i)'></li>
          </ul>
        </div>


      </div>
      <div class="product-title">
        <ul>
          <li [class.active]="productIndex == 0" (mouseenter)='productIndex =0 '>
            <a>{{"ExceptionalDeals" | translate}}</a>
          </li>
          <li [class.active]="productIndex == 1" (mouseenter)='productIndex =1 '>
            <a>{{"NewArrivals" | translate}}</a>
          </li>
          <li [class.active]="productIndex == 2" (mouseenter)='productIndex =2 '>
            <a>{{"BestSellers" | translate}}</a>
          </li>
          <li [class.active]="productIndex == 3" (mouseenter)='productIndex =3 '>
            <a>{{"U.S.Inventory" | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="product-box">
        <app-goods-box *ngFor='let item of goods' [goods]='item'></app-goods-box>

      </div>
      <div>
        <div class="advantage mgt80">
          <h2 class="tac c-t f18 mgb15">
            <fieldset class="cbr1t0e2f48">
              <legend class="why-ets-title c-t pd0 pdr15 pdl15 fwb">Why BING</legend>
            </fieldset>
          </h2>
          <div class="why-ets fix why-ets-en_US">
            <ul>
              <li>
                <fieldset class="cbr1d4 pd10">
                  <legend class="pd0 pdr15 pdl15 c-t fwb">
                    <a>
							Vertical Integration</a>
                  </legend>
                  <p class="f13">
                    <a>
							Bing Supply is a global, vertically integrated, post sales consumer electronics solutions provider.						</a>
                  </p>
                </fieldset>
              </li>
              <li>
                <fieldset class="cbr1d4 pd10">
                  <legend class="pd0 pdr10 pdl10 c-t fwb">
                    <a>
			  				Careful Inventory Management			  			</a>
                  </legend>
                  <p class="f13">
                    <a>
							Bing Supply maintains the most comprehensive inventoried product line in the Global Wireless repair parts marketplace.						</a>
                  </p>
                </fieldset>
              </li>
              <li class="mgr0">
                <fieldset class="cbr1d4 pd10">
                  <legend class="pd0 pdr15 pdl15 c-t fwb">
                    <a>
			  				Flexible Cooperation			  			</a>
                  </legend>
                  <p class="f13">
                    <a>
							From Enterprise level remanufacturers, to independent repair facilities, to network carriers, we can serve you.						</a>
                  </p>
                </fieldset>
              </li>
              <li class="mgb0">
                <fieldset class="cbr1d4 pd10">
                  <legend class="pd0 pdr15 pdl15 c-t fwb">
                    <a>
			  				Volume OEM Parts			  			</a>
                  </legend>
                  <p class="f13">
                    <a>
							Bing Supply delivers a complete OEM parts solution for housings, RF compliance, small parts and adhesives, and A+ grade LCDs and digitizers.						</a>
                  </p>
                </fieldset>
              </li>
              <li class="mgb0">
                <fieldset class="cbr1d4 pd10">
                  <legend class="pd0 pdr15 pdl15 c-t fwb">
                    <a>
			  				In-depth Industry Knowledge			  			</a>
                  </legend>
                  <p class="f13">
                    <a>
							Bing Supply has over 10 years’ experience in the wireless parts supply chain industry which let us know your needs better.						</a>
                  </p>
                </fieldset>
              </li>
              <li class="mgr0 mgb0">
                <fieldset class="cbr1d4 pd10">
                  <legend class="pd0 pdr15 pdl15 c-t fwb">
                    <a>
			  				Repair Shops Supporting			  			</a>
                  </legend>
                  <p class="f13">
                    <a>
							Bing Supply maintains the cutting edge knowledge base required to service repair shops; supporting thousands of different models every day.						</a>
                  </p>
                </fieldset>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="facebook" >
      <app-facebook-box></app-facebook-box>
    </div>
   
  </div>
</div>